.popup__container {
    width: 470px;
    margin-top: calc(((100vh - 390px)/2));
    margin-left: calc(((100vw - 420px)/2));
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 550px) {
    .popup__container {
        width: 282px;
        margin-top: calc(((100vh - 500px)/2));
        margin-left: calc(((100vw - 282px)/2));
    }
    
}