.header {
    display: flex;
    justify-content: start;
    width: 68.75vw;
    margin: 0px auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media all and (max-width: 1280px) {
    .header {
        width: 880px;
    }
    
}

@media all and (max-width: 999px) {
    .header {
        width: 88.125vw;
    }
    
}